body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid black;
}

#box div {
    height: 40px;
    width: 40px;
}